{deps, [
    {grisp, {git, "git://github.com/grisp/grisp.git"}},
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    {cowboy, "2.4.0"}, % package
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "20.2"}
    ]},
    {deploy, [
        {pre_script, "rm -rf /media/elfowl/GRISP/*"},
        {destination, "/media/elfowl/GRISP"},
        {post_script, "umount /media/elfowl/GRISP"}
    ]},
    {toolchain, [
        {root, "/home/elfowl/GRiSP/grisp-software/rtems-install/rtems-4.12"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {rolnik, "0.1.0"}, [{epmd, none},rolnik]}
]}.
